body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Jost', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}

.navbar .container-fluid {
    gap: 50px;
}
.nav-link:hover {
    color: #9a1032;
    background-color: #e4cbd1;
    border-radius: 10px;
}
main {
    background-image: url("images/estadio-2-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 120vh;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.img-titulo-main {
    width: 320px;
}
.img-copa-main {
    width: 140px;
    height: auto;
}
.btn {
    margin-bottom: 50px;
    background-color: #9a1032;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}
.section-faseDeGrupos {
    width: 100%;
    height: fit-content;
    background-image: url("images/fondo-bordo.jpg");
    background-repeat: repeat;
}
.titulo-section {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 50px;
}
/*estilos cards fase de grupos*/
.container-wrapper-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.container-cards {
    width: 370px;
    height: auto;
    margin-bottom: 30px;
}
.section-faseDeGrupos .card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #c87c8f;
    margin: 10px;
    padding: 5px;
    max-width: 355px;
}
.card-header {
    background: none;
    color: white;
    border-bottom: none;
}
.banderas {
    width: 50px;
    height: 35px;
}
.container-partidos {
    min-width: 320px;
    max-width: 355px;
    display: flex;
    gap: 10px;
}
.fecha {
    font-size: 12px;
    color: #9a1032;
}
.partido {
    text-align: center;
    font-size: 14PX;
}
.list-group-item {
    height: 60px;
    font-family: 'Josefin Sans', sans-serif;
}
strong {
    color: red;
    font-size: 16px;
    font-weight: bold;
}
#suiza {
    width: 35px;
}
#uruguay {
    width: 40px;
}

/*estilos card posiciones fase de grupos*/
.list-group-numbered {
    width: 350px;
    height: 170px;
    font-size: 14px;
}
.rounded-pill {
    background-color: #9a1032;
    font-size: 12px;
    font-weight: 400;
}
/*estilos octavos*/
.section-octavos {
    width: 100%;
    height: fit-content;
    background-image: url("images/fondo-cespedconcopa.jpg");
    background-repeat: repeat;
    background-size: cover;
    padding-bottom: 40px;
}
.section-octavos .card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #c87c8f;
    margin: 10px;
    padding: 5px;
    max-width: 540px;
}
.g-0 {
    background-color: #e4cbd1;
}
.card-body {
    background-color: #e4cbd1;
}
.col-md-3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 5px;
}
.r-octavos {
    font-size: unset;
    margin-left: 8px;
}
.card-title {
    font-family:'Josefin Sans', sans-serif ;
    font-size: 18px;
    color: rgb(102, 98, 98);
}
.card-text {
    font-size: 18px;
}
.hora {
    color: #9a1032;
    font-weight: 600;
}
/*estilos footer*/
footer {
    width: 100%;
    height: fit-content;
    background-image: url("images/fondo-bordo.jpg");
    background-size: cover;
}
.footer-container-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.footer-container-logo img {
    width: 200px;
}
.footer-container-sitemap {
    width: 100%;
}
.item-sitemap {
    list-style: none;
}
.item-sitemap a {
    text-decoration: none;
    color: #fff;
}
.footer-copy {
    width: 100%;
    height: auto;
}
.footer-copy h6 {
    margin: 0;
    color: #c87c8f;
    text-align: center;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.footer-copy a {
    color: #c87c8f;
}
@media screen and (min-width:1024px) {
    main {
        background-image: url("images/estadio-2.png");
        background-position: center;
    }
    .img-titulo-main {
        width: 400px;
    }
    .img-copa-main {
        width: 200px;
    }
    .container-wrapper-cards {
        flex-direction: row;
        flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }
    .container-cards {
        margin-left: 20px;
    }
    .col-md-3 {
        display: flex;
        align-items: center;
    flex-direction: column;
    margin: 0;
    }
    .col-md-3 .img-fluid {
        margin-left: 5px;
        margin-top: 5px;
    }
    .col-md-3 .card-title {
        font-size: 18px;
        text-align: center;
    }
    .r-octavos {
        margin-left: 5px;
    }
    .section-octavos .card {
        width: 540px;
    }
    .section-octavos .g-0 {
        width: 540px;
    }
}