:root {
    scroll-behavior: auto;
}
body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Jost', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}
.navbar .container-fluid {
    gap: 50px;
}
.nav-link:hover {
    color: #9a1032;
    background-color: #e4cbd1;
    border-radius: 10px;
}
main {
    background-image: url("images/estadio-2-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 120vh;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.img-titulo-main {
    width: 320px;
}
.img-copa-main {
    width: 140px;
    height: auto;
}
.btn {
    margin-bottom: 50px;
    background-color: #9a1032;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}
.section-faseDeGrupos {
    width: 100%;
    height: fit-content;
    background: rgb(118,23,67);
    background: linear-gradient(180deg, rgba(118,23,67,1) 5%, rgba(162,37,98,1) 35%, rgba(142,29,83,0.8407738095238095) 70%);
}
.titulo-section {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    padding-top: 65px;
    margin-bottom: 50px;
}
/*estilos cards fase de grupos*/
.container-wrapper-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.container-cards {
    width: 370px;
    height: auto;
    margin-bottom: 30px;
}
.section-faseDeGrupos .card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #00cfb6 ;
    margin: 10px;
    padding: 5px;
    max-width: 355px;
}
.card-header {
    background: none;
    color: white;
    border-bottom: none;
}
.banderas {
    width: 50px;
    height: 35px;
}
.container-partidos {
    min-width: 320px;
    max-width: 355px;
    display: flex;
    gap: 10px;
}
.fecha {
    font-size: 12px;
    color: #9a1032;
}
.partido {
    text-align: center;
    font-size: 14PX;
}
.list-group-item {
    height: 60px;
    font-family: 'Josefin Sans', sans-serif;
}
strong {
    color: red;
    font-size: 16px;
    font-weight: bold;
}
#suiza {
    width: 35px;
}
#uruguay {
    width: 40px;
}

/*estilos card posiciones fase de grupos*/
.list-group-numbered {
    width: 350px;
    height: 170px;
    font-size: 14px;
}
.rounded-pill {
    background-color: #d9024a;
    font-size: 12px;
    font-weight: 400;
}
/*estilos octavos*/
.section-octavos {
    width: 100%;
    height: fit-content;
    background-image: url("images/fondo-cespedconcopa.jpg");
    background-repeat: repeat;
    background-size: cover;
    padding-bottom: 40px;
}
.section-octavos .card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #9a1032;
    margin: 10px;
    padding: 5px;
    max-width: 540px;
}
.g-0 {
    background-color: #e4cbd1;
}
.card-body {
    background-color: #e4cbd1;
}
.col-md-3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 5px;
}
.r-octavos {
    font-size: unset;
    margin-left: 8px;
}
.r-penales {
    font-size: 18px;
}
.card-title {
    font-family:'Josefin Sans', sans-serif ;
    font-size: 18px;
    color: rgb(102, 98, 98);
}
.card-text {
    font-size: 18px;
}
.hora {
    color: #9a1032;
    font-weight: 600;
}
/*estilos cuartos*/
.section-cuartos {
    width: 100%;
    height: fit-content;
    background: rgb(118,23,67);
    background: linear-gradient(180deg, rgba(118,23,67,1) 5%, rgba(162,37,98,1) 35%, rgba(142,29,83,0.8407738095238095) 70%);
    padding-bottom: 40px;
}
.section-cuartos .card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #00cfb6;
    margin: 10px;
    padding: 5px;
    max-width: 540px;
} 
/*estilos semifinales*/
.section-semifinales {
    width: 100%;
    height: fit-content;
    background: rgb(160,65,110);
background: linear-gradient(180deg, rgba(160,65,110,1) 0%, rgba(0,207,182,1) 40%, rgba(166,247,238,0.6951155462184874) 78%);
    padding-bottom: 40px;
}
.section-semifinales .card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #a0416e;
    margin: 10px;
    padding: 5px;
    max-width: 540px;
} 
/*estilos 3° y 4° puesto*/
.section-tercycuarto {
    width: 100%;
    height: fit-content;
    background: rgb(160,65,110);
background: linear-gradient(0deg, rgba(160,65,110,0.938813025210084) 16%, rgba(0,207,182,0.8295693277310925) 54%, rgba(166,247,238,0.835171568627451) 88%);
    padding-bottom: 40px;
}
.section-tercycuarto .card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #9a1032;
    margin: 10px;
    padding: 5px;
    max-width: 540px;
} 
.titulo-fases-finales {
    font-family: 'Josefin Sans', sans-serif;
    color: #9a1032;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding-top: 65px;
    margin-bottom: 50px;
}
.card-title-tercycuarto {
    color: #00cfb6;
    background-color: #9a1032;
    width: fit-content;
}
.card-text-tercycuarto {
    color: #e4cbd1;
    background-color: #9a1032;
    width: fit-content;
}
.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/*estilos final*/
.section-final {
    width: 100%;
    height: 120vh;
    background: rgb(160,65,110);
background: linear-gradient(180deg, rgba(160,65,110,0.9948354341736695) 5%, rgba(0,207,182,0.5046393557422969) 35%, rgba(166,247,238,0.13489145658263302) 50%), url("images/estadio-2-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-info-final {
    width: 290px;
    height: 110px;
    padding: 10px;
    text-align: center;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.33);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.7px);
-webkit-backdrop-filter: blur(1.7px);
}
/*estilos footer*/
footer {
    width: 100%;
    height: fit-content;
    background-image: url("images/fondo-bordo.jpg");
    background-size: cover;
}
.footer-container-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 55px;
}
.footer-container-logo img {
    width: 200px;
}
.footer-container-sitemap {
    width: 100%;
    padding: 20px;
}
.item-sitemap {
    list-style: none;
}
.item-sitemap a {
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-copy {
    width: 100%;
    height: auto;
}
.footer-copy h6 {
    margin: 0px;
    color: #c87c8f;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Josefin Sans', sans-serif;
}
.footer-copy a {
    color: #c87c8f;
}
@media screen and (min-width:1024px) {
    main {
        background-image: url("images/estadio-2.png");
        background-position: center;
    }
    .img-titulo-main {
        width: 400px;
    }
    .img-copa-main {
        width: 200px;
    }
    .container-wrapper-cards {
        flex-direction: row;
        flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    }
    .container-cards {
        margin-left: 20px;
    }
    .col-md-3 {
        display: flex;
        align-items: center;
    flex-direction: column;
    margin: 0;
    }
    .col-md-3 .img-fluid {
        margin-left: 5px;
        margin-top: 5px;
    }
    .col-md-3 .card-title {
        font-size: 18px;
        text-align: center;
    }
    .r-octavos {
        margin-left: 5px;
    }
    .section-octavos .card {
        width: 540px;
    }
    .section-octavos .g-0 {
        width: 540px;
    }
    .section-cuartos {
        padding-bottom: 40px;
    }
    .section-cuartos .card {
        width: 540px;
    }
    .section-cuartos .g-0 {
        width: 540px;
    }
    
    .section-semifinales .card {
        width: 540px;
    }
    .section-semifinales .g-0 {
        width: 540px;
    }
    .section-tercycuarto .card {
        width: 540px;
    }
    .section-tercycuarto .g-0 {
        width: 540px;
    }
    .section-final {
        background: rgb(160,65,110);
    background: linear-gradient(180deg, rgba(160,65,110,0.9948354341736695) 5%, rgba(0,207,182,0.5046393557422969) 35%, rgba(166,247,238,0.13489145658263302) 50%), url("images/estadio-2.png");
        background-position: center;
    }
    .footer-container-sitemap {
        padding: 50px;
    }
}