body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Jost', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}

.navbar .container-fluid {
    gap: 50px;
}
.nav-link:hover {
    color: #9a1032;
    background-color: #e4cbd1;
    border-radius: 10px;
}
main {
    background-image: url("images/estadio-2-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 120vh;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.img-titulo-main {
    width: 320px;
}
.img-copa-main {
    width: 140px;
    height: auto;
}
.btn {
    margin-bottom: 50px;
    background-color: #9a1032;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}
.section-faseDeGrupos {
    width: 100%;
    height: fit-content;
    background-image: url("images/fondo-bordo.jpg");
    background-repeat: repeat;
}
.titulo-section {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 50px;
}
.container-wrapper-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.container-cards {
    width: 370px;
    height: auto;
    margin-bottom: 20px;
}
.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #c87c8f;
    margin: 10px;
    padding: 5px;
    max-width: 355px;
}
.card-header {
    background: none;
    color: white;
}
.banderas {
    width: 50px;
    height: fit-content;
}
.container-partidos {
    max-width: 355px;
    display: flex;
    gap: 10px;
}
.fecha {
    font-size: 12px;
    color: #9a1032;
}
.partido {
    text-align: center;
    font-size: 14PX;
}
.list-group-item {
    height: 60px;
    font-family: 'Josefin Sans', sans-serif;
}
strong {
    color: red;
}
#suiza {
    width: 35px;
}
#uruguay {
    width: 40px;
}
@media screen and (min-width:1024px) {
    main {
        background-image: url("images/estadio-2.png");
        background-position: center;
    }
    .img-titulo-main {
        width: 400px;
    }
    .img-copa-main {
        width: 200px;
    }
    .container-wrapper-cards {
        flex-direction: row;
        flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }
    .container-cards {
        margin-left: 20px;
    }
}